node_modules
dist
config/census.serviceid.js
config/db.config.js
config/flags.js
src/censusSocket/api_key.ts
npm-debug.log
temp

vars.local.yml

# IDE #
.idea
.DS_STORE
.vscode

#If we have been running locally with sqlite
database.sqlite
