{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "no-console": "error",
    "@typescript-eslint/quotes": ["error", "single"],
    "camelcase": ["error", {"properties": "always"}],
    "yoda": ["error", "always"],
    "comma-dangle": ["warn", "always-multiline"]
  }
}
