---
name: Build & Deploy Staging
on:
  push:
    branches: [staging]
jobs:
  sanity-checks:
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: provisioning/terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      # Checks that all Terraform configuration files adhere to a canonical format
      - name: Terraform Format
        run: terraform fmt -check

  build-docker-images:
    runs-on: ubuntu-latest
    needs:
      - sanity-checks
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get short SHA
        id: sha
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      #      - name: Build and push base image
      #        uses: docker/build-push-action@v2.8.0
      #        with:
      #          context: provisioning/base
      #          file: provisioning/base/Dockerfile
      #          platforms: linux/amd64
      #          push: true
      #          no-cache: true
      #          tags: maelstromeous/applications:ps2alerts-aggregator-base

      - name: Build and push staging image
        uses: docker/build-push-action@v2.8.0
        with:
          file: provisioning/staging/Dockerfile
          platforms: linux/amd64
          push: true
          no-cache: true
          tags: maelstromeous/applications:ps2alerts-aggregator-staging-${{ steps.sha.outputs.sha_short }}

  deploy-terraform:
    needs:
      - build-docker-images
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: provisioning/terraform
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Get short SHA
        id: sha
        run: echo "::set-output name=sha_short::$(git rev-parse --short HEAD)"

      # Install the latest version of Terraform CLI and configure the Terraform
      # CLI configuration file with a Terraform Cloud user API token
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1.3.2
        with:
          cli_config_credentials_token: ${{ secrets.TERRAFORM_CLOUD_TOKEN }}

      # Initialize a new or existing Terraform working directory by creating initial
      # files, loading any remote state, downloading modules, etc.
      - name: Terraform Init
        run: terraform init
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}

      # Generates an execution plan for Terraform, with the injected SHA
      - name: Terraform Plan
        run: >
          terraform plan \
            -var='checksum_version=${{ steps.sha.outputs.sha_short }}' \
            -var='db_user=${{ secrets.DB_USER }}' \
            -var='db_pass=${{ secrets.DB_PASS }}' \
            -var='census_service_id=${{ secrets.CENSUS_SERVICE_ID }}' \
            -var='redis_pass=${{ secrets.REDIS_PASS }}' \
            -var='rabbitmq_pass=${{ secrets.RABBITMQ_PS2ALERTS_PASS }}' \
            -var='dd_api_key=${{ secrets.DATADOG_API_KEY }}' \
            -var='dd_app_key=${{ secrets.DATADOG_APP_KEY }}' \
            -target=module.aggregator_staging -out='.tfout'
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}

      # Apply the terraform plan and inject the SHA
      - name: Terraform Apply
        if: github.ref == 'refs/heads/staging' && github.event_name == 'push'
        run: terraform apply -auto-approve .tfout
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          DIGITALOCEAN_TOKEN: ${{ secrets.DIGITALOCEAN_TOKEN }}
