---
name: Typescript Compile
on:
  push:
  pull_request:
jobs:
  typescript-compile:
    name: Typescript Compile
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: install node v12
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 12
      - name: npm install
        run: npm install
      - name: npm run build
        run: npm run build
